<h1>판다스(Pandas) 개요</h1>

<h2>목차</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li><a href="dataset">1. 데이터셋에 대하여</a></li>
        <li><a href="pandas">2. <code>Pandas</code> 개요</a></li>
        <li><a href="data">3. 데이터 조회 및 확인</a></li>
            <ul>
                <li>판다스 시리즈(Series)</li>
                <li>판다스 데이터프레임</li>
                <li>특정 요소 확인을 위한 인덱싱 및 슬라이싱</li>
            </ul>
        <li><a href="quiz">4. 퀴즈</a></li>
    </ul>
</div>

<hr>

<h2 id="dataset" align=center>1. 데이터셋에 대하여</h2>

테이블의 행은 각각의 영화에 해당하며, 열에는 다음과 같이 해당 영화의 정보가 담겨있습니다. 

- **artist** - 아티스트 이름
- **album** - 앨범 이름
- **released_year** - 앨범 출시 연도
- **length_min_sec** - 앨범 길이(시간, 분, 초)
- **genre** - 앨범 장르
- **music_recording_sales_millions** - 음악 레코딩 판매(단위 백만달러) [SONG://DATABASE](http://www.song-database.com/)참조
- **claimed_sales_millions** - 앨범 클레임 판매(단위 백만달러) [SONG://DATABASE](http://www.song-database.com/)참조
- **date_released** - 앨범 출시일
- **soundtrack** - 앨범이 영화 사운드 트랙인지 여부(Y 혹은 N)
- **rating_of_friends** - 평점을 1부터 10까지 나타냄
<br>
<br>

데이터셋은 다음과 같습니다. 

<font size="1">
<table font-size:xx-small style="width:100%">
  <tr>
    <th>Artist</th>
    <th>Album</th> 
    <th>Released</th>
    <th>Length</th>
    <th>Genre</th> 
    <th>Music recording sales (millions)</th>
    <th>Claimed sales (millions)</th>
    <th>Released</th>
    <th>Soundtrack</th>
    <th>Rating (friends)</th>
  </tr>
  <tr>
    <td>Michael Jackson</td>
    <td>Thriller</td> 
    <td>1982</td>
    <td>00:42:19</td>
    <td>Pop, rock, R&B</td>
    <td>46</td>
    <td>65</td>
    <td>30-Nov-82</td>
    <td></td>
    <td>10.0</td>
  </tr>
  <tr>
    <td>AC/DC</td>
    <td>Back in Black</td> 
    <td>1980</td>
    <td>00:42:11</td>
    <td>Hard rock</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td></td>
    <td>8.5</td>
  </tr>
    <tr>
    <td>Pink Floyd</td>
    <td>The Dark Side of the Moon</td> 
    <td>1973</td>
    <td>00:42:49</td>
    <td>Progressive rock</td>
    <td>24.2</td>
    <td>45</td>
    <td>01-Mar-73</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Whitney Houston</td>
    <td>The Bodyguard</td> 
    <td>1992</td>
    <td>00:57:44</td>
    <td>Soundtrack/R&B, soul, pop</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td>Y</td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Meat Loaf</td>
    <td>Bat Out of Hell</td> 
    <td>1977</td>
    <td>00:46:33</td>
    <td>Hard rock, progressive rock</td>
    <td>20.6</td>
    <td>43</td>
    <td>21-Oct-77</td>
    <td></td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Eagles</td>
    <td>Their Greatest Hits (1971-1975)</td> 
    <td>1976</td>
    <td>00:43:08</td>
    <td>Rock, soft rock, folk rock</td>
    <td>32.2</td>
    <td>42</td>
    <td>17-Feb-76</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Bee Gees</td>
    <td>Saturday Night Fever</td> 
    <td>1977</td>
    <td>1:15:54</td>
    <td>Disco</td>
    <td>20.6</td>
    <td>40</td>
    <td>15-Nov-77</td>
    <td>Y</td>
    <td>9.0</td>
  </tr>
    <tr>
    <td>Fleetwood Mac</td>
    <td>Rumours</td> 
    <td>1977</td>
    <td>00:40:01</td>
    <td>Soft rock</td>
    <td>27.9</td>
    <td>40</td>
    <td>04-Feb-77</td>
    <td></td>
    <td>9.5</td>
  </tr>
</table></font>

<hr>

<h2 id="pandas" align=center>2. <code>판다스(Pandas)</code>개요</h2>

In [1]:
# .xls 파일을 읽기 위해서는 xlrd 라이브러리를 설치 필요

# !pip install xlrd

In [18]:
# 필요 라이브러리를 import 

import pandas as pd

import 실행후에는 사전 빌드된 많은 클래스와 함수에 접근할 수 있습니다(참고로, import는 해당 라이브러리가 이미 설치된 것을 가정합니다.)

Pandas를 사용한 데이터 작업 수행 방법 중 하나는 데이터 프레임 활용입니다. 쉼표로 구분된 값을 갖는 파일(<b>.csv</b>)에서 데이터 프레임으로 전환되는 과정을 살펴 보겠습니다. 변수 <code>csv_path</code>는 <code>read_csv</code> 함수의 인수로 사용될 <b>.csv</b>의 경로를 저장합니다. read_csv함수 처리 결과는 <code>df</code> 객체에 저장되며, df는 Pandas 데이터프레임용으로 사용하는 변수의 일반적인 약칭입니다..

In [22]:
# CSV파일로 부터 데이터 읽기

# csv_path = 'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Datasets/TopSellingAlbums.csv'
csv_path = "TopSellingAlbums.csv"
df = pd.read_csv(csv_path)

In [23]:
# 데이터프레임의 첫번째 5개 행을 출력

df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

In [16]:
# Excel파일에서 데이터를 읽어서 처음 5 개 행을 출력합니다. 

# xlsx_path = 'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Datasets/TopSellingAlbums.xlsx'
xlsx_path = 'TopSellingAlbums.xlsx'

df = pd.read_excel(xlsx_path)
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,00:42:19,"pop, rock, R&B",46.0,65,1982-11-30,NaN,10.0
1,AC/DC,Back in Black,1980,00:42:11,hard rock,26.1,50,1980-07-25,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,00:42:49,progressive rock,24.2,45,1973-03-01,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,00:57:44,"R&B, soul, pop",27.4,44,1992-11-17,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,00:46:33,"hard rock, progressive rock",20.6,43,1977-10-21,NaN,8.0

In [17]:
# Length열을 확인

x = df[['Length']]
x

     Length
0  00:42:19
1  00:42:11
2  00:42:49
3  00:57:44
4  00:46:33
5  00:43:08
6  01:15:54
7  00:40:01

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Images/DataEgOne.png" width="750" />

<hr>

<h2 id="data" align=center>3. 데이터 조회 및 확인</h2>

<h3>판다스 시리즈</h2>

열을 시리즈(series)로서 확인할 수도 있습니다. 판다스 시리즈(Series)는 1차원 데이터프레임으로 생각할 수 있습니다. 
<br>이 경우 **한개의 대괄호**를 사용해야 합니다.

In [6]:
# 열을 시리즈(series)로서 조회

type(df['Released'])

pandas.core.series.Series

In [7]:
df['Released']

0    1982
1    1980
2    1973
3    1992
4    1977
5    1976
6    1977
7    1977
Name: Released, dtype: int64

판다스 시리즈의 <code>unique</code>함수를 이용하여 고유한 값(unique value)만 조회할수 있습니다.

In [8]:
df['Released'].unique() #pandas.Series.unique()함수는 nd.array를 반환한다.

array([1982, 1980, 1973, 1992, 1977, 1976], dtype=int64)

판다스 시리즈에 대한 비교 연산 결과인 Boolean값 활용으로 데이터프레임에서 특정 조건에 맞는 행만 표시되도록 사용할 수 있습니다.

In [9]:
df['Released'] > 1980

0     True
1    False
2    False
3     True
4    False
5    False
6    False
7    False
Name: Released, dtype: bool

In [10]:
df[df['Released'] > 1980]

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,00:42:19,"pop, rock, R&B",46.0,65,1982-11-30,NaN,10.0
3,Whitney Houston,The Bodyguard,1992,00:57:44,"R&B, soul, pop",27.4,44,1992-11-17,Y,8.5

<h3> 판다스 데이터프레임</h3>

열을 데이터프레임으로서 조회할 수도 있습니다. 예를 들어, <b>Artist</b>열을 조회합니다.

In [11]:
# 열을 데이터프레임으로서 조회

x = type(df[['Artist']])
x

pandas.core.frame.DataFrame

여러 열에 대해 동일 작업을 수행 할 수 있습니다. 데이터프레임 이름(이 경우 <code>df</code>)과 **이중 대괄호**로 묶인 여러 열의 헤더 이름을 입력합니다. 결과는 지정된 열로 구성된 신규 데이터 프레임입니다.

In [12]:
# 여러 열을 접근

y = df[['Artist','Length','Genre']]
y

            Artist    Length                        Genre
0  Michael Jackson  00:42:19               pop, rock, R&B
1            AC/DC  00:42:11                    hard rock
2       Pink Floyd  00:42:49             progressive rock
3  Whitney Houston  00:57:44               R&B, soul, pop
4        Meat Loaf  00:46:33  hard rock, progressive rock
5           Eagles  00:43:08   rock, soft rock, folk rock
6         Bee Gees  01:15:54                        disco
7    Fleetwood Mac  00:40:01                    soft rock

<img src = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Images/DataEgTwo.png" width="1100" />

<h3>특정 요소 확인을 위한 인덱싱과 슬라이싱</h3>

특정 요소에 접근하는 한 가지 방법은 위치 정수를 활용하여 인덱싱하는 **<code>iloc</code>** 메쏘드를 활용하는 것입니다. <br> 
다음 예에서는 첫번째 행과 첫번째 열에 해당하는 요소에 접근합니다.

In [13]:
# 첫번째 행과 첫번째 열에 해당하는 값에 접근

df.iloc[0, 0]

'Michael Jackson'

2번째 행과 첫번째 열에 접근하고자 하면 다음과 같이 할 수 있습니다.

In [15]:
# 2번째 행과 첫번째 열에 해당하는 값에 접근

df.iloc[1,0]

'AC/DC'

첫번째 행과 3번째 열에 다음과 같이 접근합니다.

In [16]:
# 첫번째 행과 3번째 열의 값에 접근

df.iloc[0,2]

1982

특정 요소에 접근하는 또 하나의 방법은 레이블(Label)을 기반을 인덱싱하는 <code>loc</code> 메쏘드를 활용하는 것입니다. <br><code>loc</code> 메쏘드를 활용하면 열을 **이름** 즉 레이블로 접근할 수 있습니다. 다음은 윗 부분과 동일한 결과를 보입니다.

In [17]:
# 열을 이름으로 접근

df.loc[0, 'Artist']

'Michael Jackson'

In [18]:
# 열을 이름으로 접근

df.loc[1, 'Artist']

'AC/DC'

In [19]:
# 열을 이름으로 접근

df.loc[0, 'Released']

1982

In [20]:
# 열을 이름으로 접근

df.loc[1, 'Released']

1980

다음 두개 셀의 차이에 대해 확인한다.

In [21]:
# 데이터프레임 슬라이싱, iloc는 위치 정수로 인덱싱한다. 

df.iloc[0:2, 0:3]

            Artist          Album  Released
0  Michael Jackson       Thriller      1982
1            AC/DC  Back in Black      1980

In [22]:
# 이름을 이용하여 데이터프레임 슬라이싱
# loc는 '이름'을 사용하여 인덱싱하는 관계로 행의 이름 즉 label이 0 ~ 2인 것 까지 출력된다. 

df.loc[0:2, 'Artist':'Released']

            Artist                      Album  Released
0  Michael Jackson                   Thriller      1982
1            AC/DC              Back in Black      1980
2       Pink Floyd  The Dark Side of the Moon      1973

<hr>

<h2 id="quiz" align=center>4. 퀴즈</h2>

dataframe 자료형으로 Rating열을 변수 <code>q</code>에 저장하고 그 값을 출력하시오.

In [23]:
# 아래에 코드를 작성하세요. 셀을 실행하려면 Shift + Enter를 누르는 것을 잊지 마십시오.

해답을 보려면 __여기__를 두 번 클릭하십시오.

<!-- 해답:
q = df[['Rating']]
q
-->

<b>Released</b>열과 <b>Artist</b>열로 구성된 dataframe을 변수 <code>q</code>에 할당하고 그 값을 출력하시오.

In [24]:
# 아래에 코드를 작성하세요. 셀을 실행하려면 Shift + Enter를 누르는 것을 잊지 마십시오.

해답을 보려면 __여기__를 두 번 클릭하십시오.

<!-- 해답:
q = df[['Released', 'Artist']]
q
-->

<code>df</code>의 2번째 행과 3번째 열을 접근하는 코드를 작성하시오.

In [25]:
# 아래에 코드를 작성하세요. 셀을 실행하려면 Shift + Enter를 누르는 것을 잊지 마십시오.

해답을 보려면 __여기__를 두 번 클릭하십시오.

<!-- 해답:
df.iloc[1, 2]
-->

<hr>
다음과 같이 데이터프레임 <code>df</code>을 생성한다.

In [26]:
import pandas as pd

df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})
df

   a  b
0  1  1
1  2  1
2  1  1

In [27]:
# df['a']는 판다스 시리즈(Series)를 반환한다. 

print(type(df['a']))
df['a']

<class 'pandas.core.series.Series'>

0    1
1    2
2    1
Name: a, dtype: int64

In [28]:
# df['a']는 판다스 데이터프레임(dataframe)을 반환한다. 

print(type(df[['a']]))
df[['a']]

<class 'pandas.core.frame.DataFrame'>

   a
0  1
1  2
2  1

1) 열 <code>'a'</code>내 유일한 값(unique value)를 찾는 코드를 작성하시오

In [29]:
# 아래에 코드를 작성하세요. 셀을 실행하려면 Shift + Enter를 누르는 것을 잊지 마십시오.

해답을 보려면 __여기__를 두 번 클릭하십시오.

<!-- 해답:
#pandas.Series.unique()함수는 nd.array를 반환한다. 

df['a'].unique()  # 혹은 df.a.unique() 
-->

2) 열 <code>a</code>가 2보다 작은 행만있는 데이터 프레임을 반환하는 코드를 작성하시오.

In [30]:
# 아래에 코드를 작성하세요. 셀을 실행하려면 Shift + Enter를 누르는 것을 잊지 마십시오.

해답을 보려면 __여기__를 두 번 클릭하십시오.

<!-- 해답:

df[df['a'] < 2]
-->

<hr>
<h2> 마지막 연습문제! </h2>
<p> 축하합니다. 그러나 해야 할 일이 하나 더 있습니다. 데이터 과학 커뮤니티는 작업 공유를 장려합니다. 작업을 공유하고 전시하는 가장 좋은 방법은 GitHub에서 공유하는 것입니다. GitHub에서 노트북을 공유하면 동료 데이터 과학자와 평판을 쌓을 뿐만 아니라 입사 지원시 이를 자랑 할 수도 있습니다. 이 노트북이 당신의 첫 번째 작업이긴 하지만 좋은 습관을 기르기에는 너무 이르지 않습니다. 따라서 <a href="https://cognitiveclass.ai/blog/data-scientists-stand-out-by-sharing-your-notebooks/" target="_blank">이 문서</a>를 읽고 따라해보시기 바랍니다. 작업을 공유하는 방법을 배우세요.
<hr>

<h3> 저자 정보: </h3>
<p> <a href="https://www.linkedin.com/in/joseph-s-50398b136/" target="_blank">Joseph Santarcangelo</a>는 IBM의 데이터 과학자이며 전기공학으로 박사 학위를 받았습니다. 그의 연구는 머신 러닝, 신호 처리 및 컴퓨터 비전을 사용하여 동영상이 인간의 인지에 미치는 영향을 확인하는 데 중점을 두었습니다. Joseph은 박사 학위를 취득한 이후 IBM에서 근무하고 있습니다. </p>

다른 기여자: <a href="www.linkedin.com/in/jiahui-mavis-zhou-a4537814a">Mavis Zhou</a>

<hr>

<p>Copyright &copy; 2018 IBM Developer Skills Network. This notebook and its source code are released under the terms of the <a href="https://cognitiveclass.ai/mit-license/">MIT License</a>.</p>